RESEND_API_KEY=
NOTIFICATION_EMAIL=
FROM_EMAIL=Borella Motors <onboarding@resend.dev>
NEXT_PUBLIC_SNAPWIDGET_FEED_URL=https://app.mirror-app.com/feed-instagram/b160e46a-b06c-4cd1-8e61-39dde6040bee/preview
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/
