RESEND_API_KEY=
NOTIFICATION_EMAIL=
FROM_EMAIL=Borella Motors <onboarding@resend.dev>
NEXT_PUBLIC_ELFSIGHT_APP_ID=dbf71334-2929-4f0b-9145-5b9ea0401dd5
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/borellamotors/
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@nikborella
